.movie-form {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: darkred;
  border-radius: 1em;
}

form label {
  display: block;
}

label {
  margin: 10px;
}